@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

a:hover{
    color: inherit;
    text-decoration-line: none;
}
