<div class="authentication" *ngIf="!isAuthenticated">
  <form>
    <mat-form-field>
      <input matInput placeholder="{{'menu.authentication.username'|translate}}" [(ngModel)]="authentication.username" name="username">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="{{'menu.authentication.password'|translate}}" [(ngModel)]="authentication.password" name="password">
    </mat-form-field>
    <button mat-button [disabled]="!authenticationFormFilled()" (click)="authenticate()">{{'menu.authentication.signin'|translate}}</button>
  </form>
</div>
<div class="authenticated" *ngIf="isAuthenticated">
  <span class="welcome">{{'menu.authentication.welcome'|translate}} {{authenticatedUser}}</span>
  <button mat-button (click)="logout()">{{'menu.authentication.signout'|translate}}</button>
</div>