<header class="mat-elevation-z6 mat-primary mat-toolbar">
  <mat-toolbar class="navbar navbar-expand-lg" color="primary">
    <a mat-button [hidden]="searchMenuHidden" routerLink="/search">{{'menu.search'|translate}}</a>
    <a mat-button [hidden]="recipesMenuHidden" routerLink="/recipes">{{'menu.recipes'|translate}}</a>
    <a mat-button [hidden]="menusMenuHidden" routerLink="/menus">{{'menu.menus'|translate}}</a>
    <a mat-button [hidden]="ingredientsMenuHidden" routerLink="/ingredients">{{'menu.ingredients'|translate}}</a>
    <div class="flex-spacer"></div>
    <cena-authentication (authenticationChange)="updateMenuVisibility()"></cena-authentication>
    <cena-language-selection></cena-language-selection>
    <a mat-button href="https://github.com/adhuc-projects/cena"><span><img src="/assets/images/github-circle-white-transparent.svg" class="github-logo" />{{'menu.github'|translate}}</span></a>
  </mat-toolbar>
</header>